.root {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.tab-list {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  background-color: var(--color-yellow);
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  color: var(--color-yellow);
}

.tab.active {
  background-color: var(--color-yellow-hover);
  color: white;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 10px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}
