.title {
  color: light-dark(var(--color-black), var(--color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $breakpoint-md) {
    font-size: rem(50px);
  }
}
