.grid-container {
  display: grid;
  gap: rem(10px);
}

.grid-container-columns-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media (max-width: $breakpoint-md) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

.grid-col {
  background-color: light-dark(var(--color-white), var(--color-black));
  padding: rem(10px);
  border-radius: var(--radius-default);
}
