:root {
  color-scheme: light dark;
  --color-black: black;
  --color-white: #f4f4f4;
  --color-light: #efedea;
  --color-dark: #252a27;

  --color-red: #f44336;
  --color-red-hover: #d32f2f;

  --color-yellow: #f1c40f;
  --color-yellow-hover: #f7b50e;

  --color-green: #93c04b;
  --color-green-hover: #7cb342;

  --primary-color: var(--color-green);
  --primary-color-hover: var(--color-green-hover);

  --mantine-scale: 1;
  --radius-default: 10px;

  --spacing-xs: rem(10px);
  --spacing-sm: rem(12px);
  --spacing-md: rem(16px);
  --spacing-lg: rem(20px);
  --spacing-xl: rem(32px);

  --container-size-xs: rem(540px);
  --container-size-sm: rem(720px);
  --container-size-md: rem(960px);
  --container-size-lg: rem(1140px);
  --container-size-xl: rem(1320px);
  --container-size: var(--container-size-md);

  --overlay-bg: rgba(0, 0, 0, 0.8);
  --overlay-z-index: 200;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  color: light-dark(var(--color-black), var(--color-white));
  background-color: light-dark(var(--color-light), var(--color-dark));
  margin: 0;
  --input-bd: var(--color-black);
  --input-bg: var(--color-white);
  --input-bd-focus: var(--color-dark);
}
