.title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}

.content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -50px;
  transform: translate(0, 10px);
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  overflow: hidden;
  height: min-content;
}

.visible {
  z-index: 10;
  background-color: light-dark(var(--color-white), var(--color-black));
  opacity: 1;
  visibility: visible;
  transform: translate(0, 10px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.message {
  text-align: center;
}
