.custom-select {
  appearance: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  font-size: 16px;
  padding: 8px;
  width: 100%;
  min-width: 120px;
  border: none;
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-default);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
  }

  &:hover {
    border-color: #999;
  }

  &:focus {
    outline: none;
  }
}

.custom-option {
  text-align: center;
}
